<a href="https://colab.research.google.com/github/Nikhilbablu/Nikhilbablu/blob/Nikhil/2303A52260_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
ppl=['Kiran','Arun','Vijay','Varun']
age=[25,30,35,40]
height=[145,151,165,173]
wt=[45,55,65,75]
df=pd.DataFrame({'Name':ppl,'Age':age,'Height':height,'Weight':wt})
print(df)

    Name  Age  Height  Weight
0  Kiran   25     145      45
1   Arun   30     151      55
2  Vijay   35     165      65
3  Varun   40     173      75